openapi: "3.1.0"
info:
  version: "1.0.0"
  title: USPTO Data Set API
  description: >-
    Adapted from the USPTO Data Set API example published by the OpenAPI
    Initiative. This document demonstrates the JSON Structure `map` type
    (for the dynamically-named per-record fields returned by a data set) and
    the `set` type (for the caller-supplied list of fields to exclude from
    the response).
  license:
    name: Apache 2.0
jsonSchemaDialect: https://json-structure.org/meta/validation/v0/#
servers:
  - url: https://developer.uspto.gov/ds-api
paths:
  /:
    get:
      operationId: list-data-sets
      summary: List available data sets
      responses:
        "200":
          description: Returns a list of data sets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataSetList"
  /{dataset}/{version}/fields:
    get:
      operationId: list-searchable-fields
      summary: >-
        Provides the general information about the API and the list of
        fields that can be used to query the data set.
      parameters:
        - name: dataset
          in: path
          description: Name of the dataset
          required: true
          example: oa_citations
          schema:
            type: string
        - name: version
          in: path
          description: Version of the dataset
          required: true
          example: v1
          schema:
            type: string
      responses:
        "200":
          description: The dataset API for the given version is found and it is accessible to consume.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FieldSchema"
        "404":
          description: The combination of dataset name and version is not found in the system or it is not published yet to be consumed by public.
  /{dataset}/{version}/records:
    post:
      operationId: perform-search
      summary: >-
        Provides search capability for the data set with the given search
        criteria.
      parameters:
        - name: dataset
          in: path
          description: Name of the dataset
          required: true
          example: oa_citations
          schema:
            type: string
        - name: version
          in: path
          description: Version of the dataset
          required: true
          example: v1
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/SearchCriteria"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordListResponse"
        "404":
          description: No matching record found for the given criteria.
components:
  schemas:
    DataSetListItem:
      $schema: https://json-structure.org/meta/core/v0/#
      name: DataSetListItem
      type: object
      properties:
        apiKey:
          type: string
        apiVersionNumber:
          type: string
        apiUrl:
          type: uri
        apiDocumentationUrl:
          type: uri
    DataSetList:
      $schema: https://json-structure.org/meta/core/v0/#
      name: DataSetList
      type: object
      properties:
        total:
          type: int32
        apis:
          type: array
          items:
            type:
              $ref: "#/definitions/DataSetListItem"
      definitions:
        DataSetListItem:
          name: DataSetListItem
          type: object
          properties:
            apiKey:
              type: string
            apiVersionNumber:
              type: string
            apiUrl:
              type: uri
            apiDocumentationUrl:
              type: uri
    FieldSchema:
      $schema: https://json-structure.org/meta/core/v0/#
      name: FieldSchema
      type: object
      description: >-
        A map of searchable field name to a human-readable description of
        that field.
      properties:
        fields:
          type: map
          values:
            type: string
    SearchCriteria:
      $schema: https://json-structure.org/meta/validation/v0/#
      name: SearchCriteria
      type: object
      required:
        - criteria
      properties:
        criteria:
          type: string
          description: Free-text search expression, for example `patentTitle:(safety)`.
          minLength: 1
        start:
          type: int32
          minimum: 0
        rows:
          type: int32
          minimum: 1
          maximum: 100
        excludeFields:
          type: set
          description: Field names to omit from each result record.
          items:
            type: string
    RecordListResponse:
      $schema: https://json-structure.org/meta/core/v0/#
      name: RecordListResponse
      type: object
      properties:
        apiVersion:
          type: string
        count:
          type: int32
        results:
          type: array
          description: Each result is a map of field name to field value(s); field sets vary by data set.
          items:
            type: map
            values:
              type: array
              items:
                type: string
